<img class="imgBack" routerLink="../" src="../../../assets/chevron.svg">
<div class="content">
  <div class="info">
    <div class="cnt-title">
        <h1 class="title"><span class="ID"> {{lumiere.ID_machine}}. </span> {{data.nom}}</h1>
        <h2 class="date">{{lumiere.date}};</h2> 
        <button class="btn-switch" type="button" (click)="switchStatement()">On/Off</button>

    </div>
    <div class="cnt-data">
      <h2 class="conso">consomation: <span class="nbconso">{{lumiere.conso}} W</span></h2>
      <div class="DataSpe">
          <div class="DataSpe">tempsactif: <span class="nbspe">{{lumiere.tempsactif}}</span>Minutes</div>
        </div>
    </div> 
  </div>
  <div class="cnt-graph">
    <div class="graph"></div>
  </div>
</div>
