@import "../../../styles/main";

p {
  margin: 0;
  color: $text-light-grey;
}

#my-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: radial-gradient(#4F4857, #252F41, #171F1F);

#container-left {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

  .temp {
    width: 100%;
    height: 30%;
  }

  .home-plan {
    width: 100%;
    height: 70%;
  }
}

#container-right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

  .meteo {
    width: 100%;
    height: 40%;
  }
  .object-list {
    width: 100%;
    height: 60%;
  }
}
}