<div id="my-containers">
  <div id="container-left">
    <div class="temp">
        <app-thermo2></app-thermo2>
    </div>
    <div class="home-plan">
        <app-components-plan></app-components-plan>
    </div>
  </div>

  <div id="container-right">
    <div class="meteo">
      <app-meteo></app-meteo>
    </div>
    <div class="object-list">
        <app-component-details></app-component-details>
    </div>
  </div>
</div>