/* BREAKPOINTS */

@mixin xlarge {
    @media only screen and (min-width: 1280px) {
        @content;
    }
}

@mixin large {
    @media only screen and (max-width: 1280px) {
        @content;
    }
}

@mixin medium {
    @media only screen and (max-width: 980px) {
        @content;
    }
}

@mixin small {
    @media only screen and (max-width: 766px) {
        @content;
    }
}

@mixin xsmall {
    @media only screen and (max-width: 600px) {
        @content;
    }
}

@mixin xxsmall {
    @media only screen and (max-width: 520px) {
        @content;
    }
}

@mixin xxxsmall {
    @media only screen and (max-width: 430px) {
        @content;
    }
}