/* COLORS */

$text-light-grey: rgba(255,255,255,0.45);
$bckg-compo-detail: rgba(255,255,255,0.8);
$bckg-compo-light-detail: rgba(255,255,255,0.6);
$bckg-compo-light-home:rgba(0,0,0,0.05);
$bckg-compo-home: rgba(0,0,0,0.35);
$text-light-black: #707070;
$text-black: #000000;
$icon-allume:#1AFF00;
$icon-eteint:#FF0000;


/* FONTS */
$font-default: 'Roboto', sans-serif;