@import '../../../styles/main.scss';
.imgBack{
    position: absolute;
    left : 20px;
    top: 20px;
    width: 40px;
    height: auto;
    fill: white ;
    cursor: pointer;
    outline-style: none;
}
.content{
    background: radial-gradient(#4F4857, #252F41, #171F1F);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}