<img class="imgBack" routerLink="../" src="../../../assets/chevron.svg">
<div class="content">
    <div *ngFor='let domo of domo$'>
        <app-cartesdetail icon="{{domo.icon}}" name="{{domo.nom}}"></app-cartesdetail>
    </div>
</div>