@import "../styles/main";
.my-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  #container-left {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-wrap: wrap;

    .temp-ext {
      width: 50%;
      height: 30%;
      display: flex;
      margin: -5px;
      .element {
        background-color: red;
        width: 100%;
      }
    }

    .temp-int {
      background-color: blue;
      width: 50%;
      height: 30%;
      display: flex;
    }

    .house-plan {
      background-color: yellow;
      width: 100%;
      height: 70%;
    }
  }

  #container-right {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-wrap: wrap;

    .meteo {
      height: 35%;
      width: 100%;
      background-color: green;
    }

    .object-list {
      height: 65%;
      width: 100%;
      background-color: purple;
    }
  }
}
