<img class="imgBack" routerLink="../" src="../../../assets/chevron.svg">
<div class="content">
  <div class="info">
    <div class="cnt-title">
        <h1 class="title"><span class="ID"> {{store.ID_machine}}. </span>{{data.nom}}</h1>
        <h2 class="date">{{store.date}};</h2> 
        <button class="btn-switch" type="button" (click)="switchStatement()">On/Off</button>
    </div>
    <div class="cnt-data">
      <h2 class="conso">consomation: <span class="nbconso">{{store.conso}} W</span></h2>
      <div class="DataSpe">
          <div class="DataSpe">ouverture: <span class="nbspe">{{store.ouverture}} %</span></div>
        </div>
    </div> 
  </div>
  <div class="cnt-graph">
    <div class="graph"></div>
  </div>
</div>
