<a href="listdomo/{{name}}">
  <div class="ctn-comp" >
    <img class="logo-Domo" src="../../../assets/black/{{icon}}" alt="{{icon}}" >
    <div class="ctn-text">
      <p>{{name}}</p>
    </div>  
  </div>
</a>