@import '../../../styles/main';
a{
    text-decoration: none;
}
.ctn-comp{
    // min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px 100px 0px 100px;
    margin:40px 100px ;  
    border-radius: 3px;
    background-color: $bckg-compo-detail;
    transition: 0.5s;
    &:hover{
        background-color: $bckg-compo-light-detail;
      }
    .logo-Domo{
        height: 100px;
    }
    .ctn-text{
        text-transform: uppercase;
        text-align: center;
        color:$text-black;
        font-family: $font-default;
    }
}