@import '../../../styles/main';

.backGround{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.chart{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: row;
    background-color: grey;
}