<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>


<div class="backGround">
  <div class="chart">
      
    <div id="myChart">
      <script>let myChart = document.getElementById('myChart').getContext('2d');
      var temp = thermI.temperature;
      console.log(temp[1] + "oups");
      console.log("prout");
      

      </script>
    </div>
  </div>
</div>