@import '../../../styles/main';



.plan{
 
  display: flex;
  flex-direction: column;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  margin:10px;
  justify-content: center;
  align-items: center;
  background-color: $bckg-compo-home;
  
  h1{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,0.5);
  }
  .imgplan{
    width: 100%;
    height: 100%;
  }
    
  .frigo{
    position: absolute;
    top: 58%;
    left: 5%;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      width: 50px;
      height: 50px;
    }
  }

  .lavelinge{
    position: absolute;
    top: 89%;
    left: 44%;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      width: 50px;
      height: 50px;
    }
  }

  .lumiere1{
    position: absolute;
    top: 51%;
    left: 19%;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      width: 50px;
      height: 50px;
    }
  }

  .lumiere2{
    position: absolute;
    top: 80%;
    left: 22%;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      width: 50px;
      height: 50px;
    }
  }


  .lumiere3{
    position: absolute;
    top: 65%;
    left: 39%;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      width: 50px;
      height: 50px;
    }
  }

  .thermoEXT{
    position: absolute;
    top: 89%;
    left: 15%;
    cursor: pointer;
    &:hover{
      width: 50px;
      height: 50px;
    }

  }

  .thermoINT{
    position: absolute;
    top: 40%;
    left: 44%;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      width: 50px;
      height: 50px;
    }

  }

  .radiateur{
    position: absolute;
    top: 40%;
    left: 35%;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      width: 50px;
      height: 50px;
    }
  }

  .store{
    position: absolute;
    top: 66%;
    left: 46%;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      width: 50px;
      height: 50px;
    }
  }
    
}
