<div class="plan">
  <img src="../../../assets/plan.png" class="imgplan">
  <div *ngFor='let domotique of domo'>
    <div *ngIf="domotique.etat === true" (click)="switchStatFalse(domotique._id)">
      <img class="{{domotique.nom}}" src="../../../assets/green/{{domotique.icon}}" width="40" height="40">
    </div>
    <div *ngIf="domotique.etat === false" (click)="switchStatTrue(domotique._id)">
      <img class="{{domotique.nom}}" src="../../../assets/red/{{domotique.icon}}" width="40" height="40">
    </div>
  </div>
</div>