<img class="imgBack" routerLink="../" src="../../../assets/chevron.svg">
<div class="content">
  <div class="info">
    <div class="cnt-title">
        <h1 class="title"><span class="ID"> {{appareil.ID_machine}}. </span> {{data.nom}}</h1>
        <h2 class="date">{{appareil.date}};</h2> 
        <button class="btn-switch" type="button" (click)="switchStatement()">On/Off</button>
    </div>
    <div class="cnt-data">
      <h2 class="conso">consomation: <span class="nbconso">{{appareil.conso}} W</span></h2>
      <div class="DataSpe" *ngIf="data.ID_machine==6; else elseBlock ">
          <div class="DataSpe">lavage: <span class="nbspe">{{appareil.lavage}}</span>vêtements</div>
        </div>
        <ng-template #elseBlock>
          <div class="DataSpe"> temperature: <span class="nbspe">{{appareil.temperature}} °C</span></div>
        </ng-template>
    </div> 
  </div>
  <div class="cnt-graph">
    <div class="graph"></div>
  </div>
</div>

