<div id="container">
    <div class="cont-left">
        <div class="time" onload="afficherHeure">
            <p>{{hours}} : {{minute}}</p>
        </div>
        <div class="city">
            <p>{{meteo.name}}</p>
            <p>{{meteo.main.temp}} °C</p>
        </div>
    </div>
    <div class="cont-right" >
        <img class="icon" src="../../../assets/meteo/{{icon}}" alt=" ">
    </div>
</div>
