@import '../../../styles/main.scss';

#container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    justify-content: center;
    background-color: $bckg-compo-home;

    .cont-left {
        width: 40%;
        height: 100%;
        margin-left: 10%;

        .time {
            width: 100%;
            height: 50%;
            display: flex;
            align-items: flex-end;

            p {
                width: 100%;
                font-size: 3.7rem;
            }
        }

        .city {
            width: 100%;
            height: 50%;
        }

        p {
            margin: 0;
            font-size: 1.5rem;
            display: flex;
            color: $text-light-grey;
            font-family: $font-default;
            text-transform: uppercase;
        }
    }

    .cont-right {
        display: flex;
        width: 50%;
        height: 100%;

       .icon{
            margin: 0;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
    }
}

@include medium {

    #container {
        .cont-left {
            .time {
                p {
                    font-size: 3rem;
                }
            }

            p {
                font-size: 1rem;
            }
        }
    }
}

@include small {

    #container {
        .cont-left {
            .time {
                p {
                    font-size: 2.3rem;
                }
            }

            p {
                font-size: 0.6rem;
            }
        }
    }
}

@include xsmall {

    #container {
        .cont-left {
            .time {
                p {
                    font-size: 2rem;
                }
            }

            p {
                font-size: 0.6rem;
            }
        }
    }
}

@include xxsmall {

    #container {
        flex-direction: column;

        .cont-left {
            width: 100%;
            height: 50%;

            .time {
                p {
                    font-size: 2rem;
                }
            }

            p {
                font-size: 0.6rem;
            }
        }

        .cont-right {
            height: 50%;
            width: 100%;
        }
    }
}