@import "../../../styles/main";

p {
    margin: 0;
    color: $text-light-grey;
}

.background {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    font-family: $font-default;

    //   PARTIE GAUCHE
    .contG {
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 90%;
        background-color: $bckg-compo-home;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
          background-color: $bckg-compo-light-home;
        }

        .contG-1 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 33%;
            font-size: 1rem;
        }

        .contG-2 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: fill;
            font-size: 3rem;
        }

        // PARTIE DROITE
    }

    .contD {
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 90%;
        background-color: $bckg-compo-home;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
          background-color: $bckg-compo-light-home;
        }

        .contD-1 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 33%;
            font-size: 1rem;
        }

        .contD-2 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: fill;
            font-size: 3rem;
        }
    }
}

@include small {
  .contG{
    .contG-1{
      p{
        font-size: 0.8rem;
      }
    }
    .contG-2{
      p{
        font-size: 2.5rem;
      }
    }
  }
}

@include small {
  .contD{
    .contD-1{
      p{
        font-size: 0.8rem;
      }
    }
    .contD-2{
      p{
        font-size: 2.5rem;
      }
    }
  }
}

@include xsmall {
  .contG{
    .contG-1{
      p{
        font-size: 0.6rem;
      }
    }
    .contG-2{
      p{
        font-size: 2rem;
      }
    }
  }
  .contD{
    .contD-1{
      p{
        font-size: 0.6rem;
      }
    }
    .contD-2{
      p{
        font-size: 2rem;
      }
    }
  }
}

@include xxsmall {
  .contG{
    height: 60%;
    .contG-1{
      p{
        text-align: center;
        font-size: 0.6rem;
      }
    }
    .contG-2{
      p{
        font-size: 1.8rem;
      }
    }
  }
  .contD{
    height: 60%;
    .contD-1{
      p{
        text-align: center;
        font-size: 0.6rem;
      }
    }
    .contD-2{
      p{
        font-size: 1.8rem;
      }
    }
  }
}

@include xxxsmall {
  .background{
    align-items: start;
    margin-top: 10px;
  .contG{
    height: 60%;
    .contG-2{
      p{
        text-align: center;
        font-size: 1.5rem;
      }
    }
  }
  .contD{
    height: 60%;
    .contD-2{
      p{
        text-align: center;
        font-size: 1.5rem;
      }
    }
  }
}}