<div class="background">
  <div class="contG" routerLink="/listdomo/thermoINT">
      <div class="contG-1">
        <p>Température intérieure</p>
      </div>
      <div class="contG-2">
        <p>{{thermI.temperature}} °C</p>
      </div>
  </div>
  <div class="contD" routerLink="/listdomo/thermoEXT">
    <div class="contD-1">
      <p>Température extérieure</p>
    </div>
    <div class="contD-2"><p>{{thermE.temperature}} °C</p></div>
  </div>
</div>
