@import '../../../styles/main.scss';

.container{
  margin:10px;
  display: flex;
  flex-direction: row;
  height: calc(100% - 20px);
  width:  calc(100% - 20px);
  justify-content: center;
  align-items: center;
  background-color: $bckg-compo-home;
  transition: 0.5s;
  cursor: pointer;
  outline-style: none;
  &:hover{
    background-color: $bckg-compo-light-home;
    // border: 5px solid $bckg-compo-home;
    // height: calc(100% - 30px);
    // width:  calc(100% - 30px);
  }
  

  p{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-light-grey;
    font-family: $font-default;
    text-transform: uppercase;
  }
}

@include medium {
  .container{

    p{
      font-size: 1.2rem;
    }
  }
}

@include small {
  .container{

    p{
      font-size: 1rem;
    }
  }
}

@include xsmall {
  .container{

    p{
      font-size: 0.8rem;
    }
  }
}

@include xxxsmall {
  .container{

    p{
      text-align: center;
      font-size: 0.8rem;
    }
  }
}