@import '../../../styles/main';
.imgBack{
    position: absolute;
    left : 20px;
    top: 20px;
    width: 40px;
    height: auto;
    fill: white ;
}
.content{
    width: 100%;
    height: 100vh;
    background: radial-gradient(#4F4857, #252F41, #171F1F);
    display: flex;
    flex-direction: column;
    font-family: $font-default;
    color:  $text-light-grey;
    .info{
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .cnt-title{
        .title{
            font-size: 4vw; 
            margin: 0;
            .ID{
                color: $text-light-black;
                font-size: 3vw;
            }
        }
        .date{
            font-size: 1vw;
            color: $text-light-black;
        }
        .btn-switch{
            background: none;
            border: 3px solid $text-light-grey;
            color:$text-light-grey;
            border-radius: 20px;
            width: 100px;
            height:40px;
            font-family: $font-default;
            &:hover{
                background: $text-light-black;
            }
        }
        }
        .cnt-data{
            .conso{
                color: $text-light-black;
                font-size: 1vw; 
                margin: 0;
                .nbconso{
                    color:  $text-light-grey;
                    font-size: 3vw;
                }
            }
            .DataSpe{
                font-size: 1vw;
                color: $text-light-black;
                .nbspe{
                    color:  $text-light-grey;
                    font-size: 3vw;
                }
               }
        }
    }
    .cnt-graph{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .graph{
            height: 60%;
            width: 50%;
            border: 1px solid $text-light-black;
        }
    }
}
